@import "tailwindcss";

@font-face {
	font-family: SeoulHangangCBL;
	font-style: normal;
	src: url("./assets/fonts/SeoulHangangCBL.ttf");
}

@font-face {
	font-family: SeoulHangangCEB;
	font-style: normal;
	src: url("./assets/fonts/SeoulHangangCEB.ttf");
}

@theme {
    --color-red: #FF6B6B;
    --color-primary: #FFBA6B;
    --color-secondary: #7E5CAD;
    --color-dark: #373535;
    --color-darkest: #1E1E1E;
		--font-title: SeoulHangangCBL, sans-serif;
		--font-normal: SeoulHangangCEB, serif;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-darkest);
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
	background-color: var(--color-dark);
}

/*
button {
	color: var(--color-darkest)
}*/

button:hover {
	cursor: pointer;
	opacity: 75%;
}

button:active {
	scale: 99%;
}

/* messing around with animations */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(1.02); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fadeInSlow {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(12px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 3.2s ease-out forwards;
}

.animate-fadeInSlow {
  animation: fadeInSlow 1.8s ease-out forwards;
}

.animate-fadeUp {
  animation: fadeUp 1.5s ease-out forwards;
}

.animate-fadeDown {
  animation: fadeDown 1s ease-out forwards;
}

/* for modal sheet */ 

@keyframes modalFade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes modalSlideUp {
  from { 
    opacity: 0;
    transform: translateY(40px);
  }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-backdrop {
  animation: modalFade 0.3s ease-out forwards;
}

.modal-sheet {
  animation: modalSlideUp 0.35s ease-out forwards;
}
